In [14]:
import os

In [15]:
path = os.getcwd()
path

'C:\\Users\\ninad\\LocalRepository\\gadre_ninad_spring2017'

In [17]:
#rootPath = os.path.join(path,'\\Assignment No 03\\data')
rootPath = 'C:\\Users\\ninad\\LocalRepository\\gadre_ninad_spring2017\\Assignment No 03\\data\\vehicle_collisions.csv'

In [35]:
import pandas as pd
data = pd.read_csv(rootPath)

In [36]:
print(data.columns)

Index(['UNIQUE KEY', 'DATE', 'TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'PERSONS INJURED', 'PERSONS KILLED',
       'PEDESTRIANS INJURED', 'PEDESTRIANS KILLED', 'CYCLISTS INJURED',
       'CYCLISTS KILLED', 'MOTORISTS INJURED', 'MOTORISTS KILLED',
       'VEHICLE 1 TYPE', 'VEHICLE 2 TYPE', 'VEHICLE 3 TYPE', 'VEHICLE 4 TYPE',
       'VEHICLE 5 TYPE', 'VEHICLE 1 FACTOR', 'VEHICLE 2 FACTOR',
       'VEHICLE 3 FACTOR', 'VEHICLE 4 FACTOR', 'VEHICLE 5 FACTOR'],
      dtype='object')

In [23]:
data.count()

UNIQUE KEY             477732
DATE                   477732
TIME                   477732
BOROUGH                338390
ZIP CODE               338329
LATITUDE               356600
LONGITUDE              356600
LOCATION               356600
ON STREET NAME         364552
CROSS STREET NAME      335574
OFF STREET NAME         58511
PERSONS INJURED        477732
PERSONS KILLED         477732
PEDESTRIANS INJURED    477732
PEDESTRIANS KILLED     477732
CYCLISTS INJURED       477732
CYCLISTS KILLED        477732
MOTORISTS INJURED      477732
MOTORISTS KILLED       477732
VEHICLE 1 TYPE         473777
VEHICLE 2 TYPE         396795
VEHICLE 3 TYPE          30264
VEHICLE 4 TYPE           6831
VEHICLE 5 TYPE           1683
VEHICLE 1 FACTOR       474483
VEHICLE 2 FACTOR       415401
VEHICLE 3 FACTOR        31638
VEHICLE 4 FACTOR         7232
VEHICLE 5 FACTOR         1762
dtype: int64

In [62]:
datedata = data.groupby(data['DATE'] == 2016)

In [63]:
manhat = datedata[datedata['BOROUGH']=='MANHATTAN']
manhat

KeyError: 'Column not found: False'

In [60]:
g = manhat.groupby(manhat['DATE']).count()
g

,UNIQUE KEY,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,...,VEHICLE 1 TYPE,VEHICLE 2 TYPE,VEHICLE 3 TYPE,VEHICLE 4 TYPE,VEHICLE 5 TYPE,VEHICLE 1 FACTOR,VEHICLE 2 FACTOR,VEHICLE 3 FACTOR,VEHICLE 4 FACTOR,VEHICLE 5 FACTOR
DATE,,,,,,,,,,,,,,,,,,,,,
False,83602,83602,83602,83602,83600,77163,77163,77163,73613,73614,...,82801,69483,2525,501,129,82737,71940,2661,544,145

In [64]:
import string
import csv, sys
from pandas import Series, DataFrame
import pandas as pd
import os
import glob

In [66]:
directory = os.path.dirname(os.getcwd()) 
path =  directory + '\\gadre_ninad_spring2017\\Assignment No 03\\data'
path

'C:\\Users\\ninad\\LocalRepository\\gadre_ninad_spring2017\\Assignment No 03\\data'

In [68]:
Calender ={'1':'JANUARY','2':'FEBRUARY','3':'MARCH','4':'APRIL','5':'MAY','6':'JUNE','7':'JULY','8':'AUGUST','9':'SEPTEMBER','10':'OCTOBER','11':'NOVEMBER','12':'DECEMBER'}

Calender = sorted(Calender.items(), key=lambda x: x[1], reverse=True)[:]

In [73]:
M={}
D={}
for subdir, dirs, files in os.walk(path):
    for file in files:
        if file == 'vehicle_collisions.csv':
            reqpath = os.path.join(subdir,file)
            with open(reqpath, newline='') as f:
                reader = csv.reader(f)
                try:
                    for record in reader:
                        d = record[1].split('/')[0]
                        if d not in D:
                            D[d] =1
                        else:
                            D[d] +=1
                        if record[3] == 'MANHATTAN':
                            if d not in M:
                                M[d] =1
                            else:
                                M[d] +=1
                        #print(d,record[3],'\n')                        
                except csv.Error as e:
                    sys.exit('file {}, line {}: {}'.format(filename, reader.line_num, e))

In [74]:
del D['DATE']
D = sorted(D.items(), key=lambda x: x[1], reverse=True)[:]
M = sorted(M.items(), key=lambda x: x[1], reverse=True)[:]

In [75]:
with open('Question1_Part1.csv', 'w') as csvfile:    # Creating a CSV file named 'Data' in write mode as csvfile
    fieldnames = ['Month', 'Manhattan','NYC','Percentage']  #Naming the title Row of the CSV
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
                # Initializing a variable 'rank' to 1 for ranking
    writer.writeheader()
    for k,v in D:
        for a,b in Calender:
            for x,y in M:
                if k == a:
                    if x == a:
                        print(b,y,v)
                        percent = (y/v)*100
                        writer.writerow({'Month': b,'Manhattan':y, 'NYC': v,'Percentage': percent})

JANUARY 8348 51464
FEBRUARY 7949 47042
OCTOBER 6854 39504
MAY 7311 39309
AUGUST 6551 38648
JULY 6897 38619
JUNE 6684 38231
DECEMBER 6306 38069
SEPTEMBER 6383 37995
NOVEMBER 6383 37329
MARCH 6875 36410
APRIL 7061 35112