# Q2_PART ONE
Find out the highest paid departments in each organization group by
calculating mean of total compensation for every department

In [1]:
import pandas as pd
from pandas import DataFrame
import sys, os, datetime

In [3]:
path = os.getcwd()+'\\data\\employee_compensation.csv'
path

'C:\\Users\\ninad\\LocalRepository\\gadre_ninad_spring2017\\Assignment No 03\\data\\employee_compensation.csv'

In [4]:
df = pd.read_csv(path) #Read data from CSV

In [5]:
df.head()

,Year Type,Year,Organization Group Code,Organization Group,Department Code,Department,Union Code,Union,Job Family Code,Job Family,...,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,Calendar,2013,2,"Public Works, Transportation & Commerce",AIR,Airport Commission,38.0,"Plumbers and Pipefitters, Local 38",7300,Journeyman Trade,...,52206,98528.52,0.00,3955.59,102484.11,20142.55,12918.24,8371.76,41432.55,143916.66
1,Fiscal,2015,4,Community Health,DPH,Public Health,790.0,"SEIU - Miscellaneous, Local 1021",2600,Dietary & Food,...,52950,69169.82,755.02,4179.08,74103.92,15641.92,12499.30,5669.02,33810.24,107914.16
2,Calendar,2016,3,Human Welfare & Neighborhood Development,WOM,Department of the Status of Women,323.0,Members of Boards and Commissions,0900,Management,...,33958,200.00,0.00,0.00,200.00,0.00,51.45,15.83,67.28,267.28
3,Calendar,2016,6,General Administration & Finance,HRD,Human Resources,790.0,"SEIU - Miscellaneous, Local 1021",8100,Legal & Court,...,33073,1783.00,0.00,0.00,1783.00,325.05,257.23,153.85,736.13,2519.13
4,Fiscal,2015,5,Culture & Recreation,REC,Recreation and Park Commission,790.0,"SEIU - Miscellaneous, Local 1021",9900,Public Service Aide,...,15849,1102.50,0.00,0.00,1102.50,0.00,538.82,85.36,624.18,1726.68

In [7]:
df2 = df[['Organization Group','Department','Total Compensation']]
df2.head()

,Organization Group,Department,Total Compensation
0,"Public Works, Transportation & Commerce",Airport Commission,143916.66
1,Community Health,Public Health,107914.16
2,Human Welfare & Neighborhood Development,Department of the Status of Women,267.28
3,General Administration & Finance,Human Resources,2519.13
4,Culture & Recreation,Recreation and Park Commission,1726.68

In [9]:
org = df2['Organization Group'].unique()
org

array(['Public Works, Transportation & Commerce', 'Community Health',
       'Human Welfare & Neighborhood Development',
       'General Administration & Finance', 'Culture & Recreation',
       'Public Protection', 'General City Responsibilities'], dtype=object)

In [10]:
dept = df2['Department'].unique()
dept

array(['Airport Commission', 'Public Health',
       'Department of the Status of Women', 'Human Resources',
       'Recreation and Park Commission',
       'Department of Building Inspection',
       'General Services Agency - Public Works',
       'General Services Agency - City Admin', 'Asian Art Museum',
       'City Planning', 'PUC Water Department', 'Public Library',
       'Fine Arts Museum', 'Municipal Transportation Agency',
       'Human Services', 'Children and Families Commission',
       'PUC Wastewater Enterprise', 'Juvenile Probation', 'Police',
       'General Services Agency - Technology', 'Fire Department',
       'Health Service System', 'PUC Hetch Hetchy', 'Sheriff',
       'PUC Public Utilities Commission', 'Controller', 'Public Defender',
       'Port', 'Treasurer/Tax Collector', 'District Attorney',
       'Superior Court', 'Adult Probation',
       'Department of Emergency Management', 'Elections',
       'Economic and Workforce Development', 'City Attorney',
       'Children, Youth & Their Families', 'Assessor/Recorder',
       'Environment', 'Homelessness and Supportive Housing',
       'War Memorial', 'Mayor', 'Retirement System',
       'Child Support Services', 'Human Rights Commission',
       'Rent Arbitration Board', 'Arts Commission', 'Ethics Commission',
       'Civil Service Commission', 'Board of Supervisors',
       'General Fund Unallocated', 'Board of Appeals',
       'Community Investment & Infrastructure', 'Academy of Sciences',
       'Law Library', 'PUC Clean Power'], dtype=object)

In [11]:
orglist = []
for each in org:
    df3 = df2[df2['Organization Group'] == each]
    depts = df3['Department'].unique()
    for every in depts:
        average = df3[df3['Department'] == every].mean()
        orglist.append((each,every,average[0]))
        
avg_comp = DataFrame(orglist,columns=('Organization Group',
                                      'Department',
                                      'Average Compensation')).sort_values(by=['Organization Group',
                                                                               'Department',
                                                                               'Average Compensation'],ascending = False).reset_index(drop=True)
avg_comp.head()

,Organization Group,Department,Average Compensation
0,"Public Works, Transportation & Commerce",Port,112139.680017
1,"Public Works, Transportation & Commerce",PUC Water Department,109806.587567
2,"Public Works, Transportation & Commerce",PUC Wastewater Enterprise,108963.589786
3,"Public Works, Transportation & Commerce",PUC Public Utilities Commission,103433.585506
4,"Public Works, Transportation & Commerce",PUC Hetch Hetchy,105280.815330

In [12]:
#write to csv
avg_comp.to_csv('Ques02_Part01.csv',index=False,header=True)