# Q3
Calculate the average score for each team which host the game and win the game

In [77]:
import pandas as pd
from pandas import DataFrame
import sys, os, datetime

In [78]:
path = os.getcwd()+'\\data\\cricket_matches.csv'
path

'C:\\Users\\ninad\\LocalRepository\\gadre_ninad_spring2017\\Assignment No 03\\data\\cricket_matches.csv'

In [79]:
df = pd.read_csv(path) #Read data from CSV

In [80]:
df.head()

,match_details,result,scores,date,venue,round,home,away,winner,win_by_runs,...,innings1_wickets,innings1_overs_batted,innings1_overs,innings2,innings2_runs,innings2_wickets,innings2_overs_batted,innings2_overs,D/L_method,target
0,North Group:Durham v Nottinghamshire at Cheste...,Durham won by 6 wickets (with 5 balls remaining),Nottinghamshire 157/7 (20/20 ov); Durham 160/4...,13/06/2003,Chester-le-Street,North Group,Durham,Nottinghamshire,Durham,NaN,...,7.0,20.0,20.0,Durham,160.0,4.0,19.1,20.0,NaN,NaN
1,South Group:Hampshire v Sussex at Southampton-...,Hampshire won by 5 runs,Hampshire 153 (19.4/20 ov); Sussex 148/7 (20/2...,13/06/2003,Southampton,South Group,Hampshire,Sussex,Hampshire,5.0,...,10.0,19.4,20.0,Sussex,148.0,7.0,20.0,20.0,NaN,NaN
2,Midlands/Wales/West Group:Somerset v Warwicksh...,Warwickshire won by 19 runs,Warwickshire 188/7 (20/20 ov); Somerset 169 (2...,13/06/2003,Taunton,Midlands/Wales/West Group,Somerset,Warwickshire,Warwickshire,19.0,...,7.0,20.0,20.0,Somerset,169.0,10.0,20.0,20.0,NaN,NaN
3,South Group:Surrey v Middlesex at The Oval- Ju...,Surrey won by 4 wickets (with 4 balls remaining),Middlesex 155 (20/20 ov); Surrey 158/6 (19.2/2...,13/06/2003,The Oval,South Group,Surrey,Middlesex,Surrey,NaN,...,10.0,20.0,20.0,Surrey,158.0,6.0,19.2,20.0,NaN,NaN
4,Midlands/Wales/West Group:Worcestershire v Nor...,Worcestershire won by 1 wicket (with 2 balls r...,Northamptonshire 150/9 (20/20 ov); Worcestersh...,13/06/2003,Worcester,Midlands/Wales/West Group,Worcestershire,Northamptonshire,Worcestershire,NaN,...,9.0,20.0,20.0,Worcestershire,151.0,9.0,19.4,20.0,NaN,NaN

In [81]:
df1 = df[['home','winner','innings1','innings1_runs','innings2','innings2_runs']]
df2 = df1[df1['home'] == df['winner']]
df2.head()

,home,winner,innings1,innings1_runs,innings2,innings2_runs
0,Durham,Durham,Nottinghamshire,157.0,Durham,160.0
1,Hampshire,Hampshire,Hampshire,153.0,Sussex,148.0
3,Surrey,Surrey,Middlesex,155.0,Surrey,158.0
4,Worcestershire,Worcestershire,Northamptonshire,150.0,Worcestershire,151.0
5,Gloucestershire,Gloucestershire,Worcestershire,122.0,Gloucestershire,126.0

In [19]:
temp = []

for each in df2['winner'].unique():
    score = df2[df2['innings1'] == each]['innings1_runs'].mean()
    score = df2[df2['innings2'] == each]['innings2_runs'].mean()
    temp.append((each,score))
    
team_score = DataFrame(temp,columns=('Home','Score')).sort_values(by='Score',ascending=False).reset_index(drop=True)

team_score.head()

                   Home  Score
0  Karachi Region Blues  182.0
1     Abbottabad Region  175.0
2           Australia A  172.0
3  Northerns (Zimbabwe)  170.0
4       Peshawar Region  170.0

In [19]:
#write to csv
team_score.to_csv('Ques03.csv',index=False,header=True)

In [82]:
df2['in1'] = df2['winner'] == df2['innings1']
df2['in2'] = df2['winner'] == df2['innings2']
df2[['home','innings1_runs','innings2_runs','in1','in2']].head()

C:\Users\ninad\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\ninad\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

              home  innings1_runs  innings2_runs    in1    in2
0           Durham          157.0          160.0  False   True
1        Hampshire          153.0          148.0   True  False
3           Surrey          155.0          158.0  False   True
4   Worcestershire          150.0          151.0  False   True
5  Gloucestershire          122.0          126.0  False   True

In [85]:
df2['TotalScore'] = df2['innings1_runs']*df2['in1'] + df2['innings2_runs']*df2['in2']
df2 = df2[['home','TotalScore']].groupby('home').mean()
df2[['home','TotalScore']].head()

KeyError: 'innings1_runs'

In [47]:
#write to csv
df2.to_csv('Ques03.csv',index=False,header=True)